body {
  background: linear-gradient(to right, black, grey);
  margin: 0;
}

.all {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
}


header h1 {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top {
  display: flex;
  margin-top: 8px;
}

iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 700px;
border-top-left-radius: 3%;
border-top-right-radius: 3%;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(57, 57, 57);
  color: white;
  height: 99px;
}

#hiddenText {
  color: transparent; /* Maakt de tekst onzichtbaar */
  background-color: transparent;
  border: none;
  cursor: pointer; /* Verandert de cursor naar een handje om aan te geven dat het klikbaar is */
  display: inline-block;
  padding: 10px;
}

