body {
  background: linear-gradient(to right, black, grey);
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.top {
  display: flex;
  margin-top: 8px;
}

#map {
    display: flex;
  position: absolute;
  margin-top: 20%;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

